<h1 mat-dialog-title>
    <span>{{ title }}</span>
</h1>
<mat-divider></mat-divider>

<mat-dialog-content>
    <p>{{ text }}</p>
</mat-dialog-content>

<mat-divider></mat-divider>
<div class="footer" mat-dialog-actions>
    <div class="actions">
        <button mat-raised-button (click)="onCancelClicked()" type="button">
            {{ cancelText }}
        </button>
        <button mat-raised-button color="warn" (click)="onDiscardClicked()" type="button">
            {{ discardText }}
        </button>
    </div>
</div>
